<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Library</title>
  </head>
  <body>
    <form action="" method="POST">
    <!-- <ul> -->
      <div>Book Name: {{book['title']}}</div>
      <div>Current Rating: {{book['rating']}}/10</div>
      <input type="text" name="rating">
      <button type="submit">Change Rating</button>
      <!-- {% for book in books %}
      <li>{{book['title']}} - {{book['author']}} - {{book['rating']}}/10</li>
      {% endfor %} -->
    <!-- </ul> -->
    </form>

    <!-- <a href="{{ url_for('add') }}">Add New Book</a> -->
  </body>
</html>
